body{
    margin:0;
    padding: 0;
    border: border-box;
 
    font-family:Georgia, 'Times New Roman', Times, serif;
    display: block;
}
header{
    position: fixed;
    top: 0px;
    
}

.titlebar{
    width:100vw;
    height:60px;
    background-color:black;
   
    
    
}
/* .nav-logo{
width:78px;
height:60px ;

}
.logo{
    background-image: url("day4\assets\logo-no-background.png");
    background-size: cover;
    width: 100%;
    height: 60px;
   
} */
 
 .title{
    width:100vw;
    height:60px;
    display:flex;
    align-items: center;
    justify-content: center;
letter-spacing: 10px;
margin: 0;

 }
 .t1{
    color:white;

 }
 .t2{
    color:white;
 }
 .title:hover{
    letter-spacing: 20px;
    transition: 1s ease;
 }

 .navbar{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    width:100%;
    height: 50px;
    background-color:rgb(96, 96, 95);
    
}
.n1{
    padding: 5px;
color:white;
    text-decoration: none;
}
.n1:hover{
    border-bottom:2px solid black;
} 
.layout{
    margin-top: 150px ;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.layout2{
    margin-top: 10px ;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.shop{
   
    width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 5px;
    border: 2px solid #d7707c;
    
    display: flex;
    /* justify-content:space-evenly; */
    align-items: center;
    flex-direction: column
}

.shop-img{

    margin: 3px;
    width: 370px;
    height:350px;
    /* background-color: red; */
    
    background-size: cover;
    margin-top: 10px;
   
}
.shop-title{
    font-size: 20px;
    display: inline;
    color: #d7707c;
 }

.shop-button a{
    font-size: 15px;
    text-decoration: none;
    color:#d7707c;
    border:2px solid white;
    padding:6px;
}
.shop:hover{
    background-color: #d7707c;
    .shop-title{color: white;};
    .shop-button a{color: white;};
    transition: 1s;
}
/* .search{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:150px;
    border:transparent;


}
#search{
    width: 500px;
    height: 33px;
    border: transparent;
}
#search2{
    width: 50px;
    height: 35px;
    background-color:#d7707c;
    border: transparent;
} */

.offerd{
    margin-top: 80px;
    width:100vw;
    height:600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.offer{
    margin-top: 100px;
    height: 600px;
    width: 1500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('baby1.png');
    
}

footer{
    background-color:black;
    height: 30px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white

}
#space{
    padding: 10px;
}